<div class="widget stacked">   
  <div class="widget-header">
    <h3>
      Products
    </h3>
  </div> <!-- /widget-header -->
  
  <div class="widget-content min-height-200">
    <% @products.each do |p| %>
      <%= image_tag p.photo.url(:medium), class: "img-thumbnail" %>
    <% end %>
  </div> <!-- /widget-content -->
</div>
<div id="product-detail" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&#215;</a>
        <h4>Product</h4>
      </div>
      <div class="modal-body">
        Photo Url
        <% unless @photo.nil? %>
          <%= text_field_tag :token, @product.sku, class: "span 8" %>
          <div class="row">
            <%= image_path @product.photo.url(:medium) %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
<% unless @product.nil? %>
  $("#product-detail").modal("show");
<% end %>
</script>