<div class="widget stacked">   
  <div class="widget-header">
    <h3>
      Products
    </h3>
  </div> <!-- /widget-header -->
  
  <div class="widget-content min-height-200">
    <ul class="thumbnails">
      <% @products.each do |p| %>
        <li>
          <a class="thumbnail" href="<%= product_path(p) %>">
            <%= image_tag p.photo.url(:medium) %></a>
        </li>
      <% end %>
    </ul>
  </div> <!-- /widget-content -->
</div>
<div id="product-detail" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&#215;</a>
        <h5>Please put this url into your iframe: http://uploading-test.herokuapp.com/product_thumbnails</h5>
      </div>
      <div class="modal-body">
        <% unless @product.nil? %>
          <div class="col-md-12">
            <%= image_tag @product.photo.url, class: "img-thumbnail", style: "width: 500px; height: auto;" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
<% unless @product.nil? %>
  $("#product-detail").modal("show");
<% end %>
</script>