<div class="widget stacked">   
  <div class="widget-header">
    <h3>
      Products
    </h3>
  </div> <!-- /widget-header -->
  
  <div class="widget-content min-height-200">
    <iframe src="/product_thumbnails" style="width: 100%; height: 500px;">
    </iframe>
  </div> <!-- /widget-content -->
</div>
<div id="product-detail" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&#215;</a>
        <h4>Product</h4>
      </div>
      <div class="modal-body">
        <% unless @product.nil? %>
          <div class="col-md-12">
            <%= image_tag @product.photo.url, class: "img-thumbnail", style: "width: 500px; height: auto;" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
<% unless @product.nil? %>
  $("#product-detail").modal("show");
<% end %>
</script>