<div class="widget stacked">     
  <div id="product-thumbnails" class="widget-content min-height-200">
  	<ul class="thumbnails">
	    <% @products.each do |p| %>
  			<li>
		      <a class="thumbnail" href="<%= product_path(p) %>" target="_blank">
		      	<%= image_tag p.photo.url(:medium) %></a>
		  	</li>
		  <% end %>
	  </ul>
  </div> <!-- /widget-content -->
  <li id="template" class="hidden">
  	<a class="img-thumbnail" id="modal-link" href="">
      <img id="product-img"></img>
    </a>
 	</li>
</div>

<%= render template: "home/thumbnail_products.js.erb" %>