<div class="widget stacked">     
  <div id="product-thumbnails" class="widget-content min-height-200">
    <% @products.each do |p| %>
      <a data-toggle="modal" href="#product-<%= p.id %>">
      	<%= image_tag p.photo.url(:medium), class: "img-thumbnail" %></a>
      <%= render partial: "modal", locals: {product: p} %>
    <% end %>
  </div> <!-- /widget-content -->
</div>

<%= render template: "home/thumbnail_products.js.erb" %>