    
<div class="footer" style="clear:both">
		
	<div class="container">
		
		<div class="row">
			
			<div id="footer-copyright">
				&copy; Avia Industries 2013
			</div> <!-- /span6 -->
			
			<div id="footer-terms">
				<a href="#" target="">Made by Kevin I</a>
			</div> <!-- /.span6 -->
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /footer -->